In [1]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', 'http://httpbin.org/robots.txt')
r.status
r.data

b'User-agent: *\nDisallow: /deny\n'

In [2]:
import json
r = http.request('GET', 'http://httpbin.org/ip')
json.loads(r.data.decode('utf-8'))

{'origin': '183.102.30.83'}

In [3]:
r = http.request('POST', 'http://httpbin.org/post', fields={'hello': 'world'})
r.data

b'{\n  "args": {}, \n  "data": "", \n  "files": {}, \n  "form": {\n    "hello": "world"\n  }, \n  "headers": {\n    "Accept-Encoding": "identity", \n    "Connection": "close", \n    "Content-Length": "129", \n    "Content-Type": "multipart/form-data; boundary=307710805cd940f6afbd86ef86dab702", \n    "Host": "httpbin.org"\n  }, \n  "json": null, \n  "origin": "183.102.30.83", \n  "url": "http://httpbin.org/post"\n}\n'

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = [1,3,2]
s3 = sort(s2)
s3

NameError: name 'sort' is not defined

In [3]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
myList

In [4]:
myList[0]

In [5]:
myList[0](4,5)

9

In [8]:
a = [1,2,3]
s = sorted(a)
s

[1, 2, 3]

In [10]:
import time
time.localtime(time.time())

time.struct_time(tm_year=2018, tm_mon=1, tm_mday=10, tm_hour=23, tm_min=32, tm_sec=17, tm_wday=2, tm_yday=10, tm_isdst=0)

In [11]:
import calendar
print(calendar.calendar(2015))

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [12]:
import threading
import time

class MyThread(threading.Thread):
    def __init__(self, msg):
        threading.Thread.__init__(self)
        self.msg = msg
        self.daemon = True

    def run(self):
        while True:
            time.sleep(1)
            print(self.msg)

for msg in ['you', 'need', 'python']:
    t = MyThread(msg)
    t.start()

for i in range(100):
    time.sleep(0.1)
    print(i)

0
1
2
3
4
5
6
7
8
you
need9python


10
11
12
13
14
15
16
17
18
you
need
python19

20
21
22
23
24
25
26
27
28
you
need
python
29
30
31
32
33
34
35
36
37
38
you
need
python
39
40
41
42
43
44
45
46
47
48
you
need
python
49
50
51
52
53
54
55
56
57
58
you
need
python
59
60
61
62
63
64
65
66
67
68
you
need
python
69
70
71
72
73
74
75
76
77
78
you
need
python
79
80
81
82
83
84
85
86
87
88
you
need
python
89
90
91
92
93
94
95
96
97
98
you
need
python
99
you
need
python
you
need
python
you
need
python

In [1]:
import threading
import time

def say(msg):
    while True:
        time.sleep(1)
        print(msg)

for msg in ['you', 'need', 'python']:
    t = threading.Thread(target=say, args=(msg,))
    t.daemon = True
    t.start()

for i in range(100):
    time.sleep(0.1)
    print(i)

0
1
2
3
4
5
6
7
8
you
needpython

9
10
11
12
13
14
15
16
17
18
needyou

python
19
20
21
22
23
24
25
26
27
28
needyou

python
29
30
31
32
33
34
35
36
37
38
youneed

python
39
40
41
42
43
44
45
46
47
48
youneed

python
49
50
51
52
53
54
55
56
57
58
needyou

python
59
60
61
62
63
64
65
66
67
68
needyou

python
69
70
71
72
73
74
75
76
77
78
you
need
python
79
80
81
82
83
84
85
86
87
88
you
need
python
89
90
91
92
93
94
95
96
97
98
you
need
python
99
you
need
python
youneed

python
need
you
python
need
you
python
youneed

python
youneed

python
youneed

python
youneed

python
needyou

python
needyou

python
you
need
python
youneed

python
needyou

python
needyou

python
needyou

python
youneed

python
youneed

python
need
you
python
need
you
python
need
you
python

In [67]:
arrays = [['a', 'a', 'b', 'b', 'c', 'c'],
          ['1', '2', '3', '4', 'c2', 'c4'],
          ['1', '2', '3', '4', 'c2', 'c4']]

tuples = list(zip(*arrays))
tuples

[('a', '1', '1'),
 ('a', '2', '2'),
 ('b', '3', '3'),
 ('b', '4', '4'),
 ('c', 'c2', 'c2'),
 ('c', 'c4', 'c4')]

In [52]:
import pandas as pd
import numpy as np

arrays = [['a', 'a', 'b', 'b', 'c', 'c'],
          ['1', '2', '3', '4', 'c2', 'c4']]


area_dict = {'A-A': [2, 3, 5, 7, 11, None], 
             'A-B': [2, 5, 5, 7, 14, 13], 
             'A-C': [2, 3, 5, 7, 71, 45],
             'B-A': [2, 3, 5, 67, 61, 15463], 
             'B-B': [2, 3, 5, 7, 11, 14563]}

df = pd.DataFrame(area_dict)
dft = df.T
dft

       0    1    2     3     4        5
A-A  2.0  3.0  5.0   7.0  11.0      NaN
A-B  2.0  5.0  5.0   7.0  14.0     13.0
A-C  2.0  3.0  5.0   7.0  71.0     45.0
B-A  2.0  3.0  5.0  67.0  61.0  15463.0
B-B  2.0  3.0  5.0   7.0  11.0  14563.0

In [53]:
idxs = dft.index.values.tolist()
idxs
idxlist = []
for idx in idxs:
    ll = idx.split('-')
    idxlist.append(tuple(ll))
    
idxlist

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B')]

In [54]:
#dft.reset_index(level=0, drop=True)

tuples = list(zip(*arrays))
tuples

[('a', '1'), ('a', '2'), ('b', '3'), ('b', '4'), ('c', 'c2'), ('c', 'c4')]

In [55]:
index = pd.MultiIndex.from_tuples(tuples, names=('a', 'b'))
index

MultiIndex(levels=[['a', 'b', 'c'], ['1', '2', '3', '4', 'c2', 'c4']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 2, 3, 4, 5]],
           names=['a', 'b'])

In [56]:
index = pd.MultiIndex.from_tuples(idxlist, names=('a', 'b'))
index

MultiIndex(levels=[['A', 'B'], ['A', 'B', 'C']],
           labels=[[0, 0, 0, 1, 1], [0, 1, 2, 0, 1]],
           names=['a', 'b'])

In [57]:
dft.index = index
dft

       0    1    2     3     4        5
a b
A A  2.0  3.0  5.0   7.0  11.0      NaN
  B  2.0  5.0  5.0   7.0  14.0     13.0
  C  2.0  3.0  5.0   7.0  71.0     45.0
B A  2.0  3.0  5.0  67.0  61.0  15463.0
  B  2.0  3.0  5.0   7.0  11.0  14563.0

In [71]:
dft[dft[0:] > 1 ]

       0    1    2     3     4        5
a b
A A  2.0  3.0  5.0   7.0  11.0      NaN
  B  2.0  5.0  5.0   7.0  14.0     13.0
  C  2.0  3.0  5.0   7.0  71.0     45.0
B A  2.0  3.0  5.0  67.0  61.0  15463.0
  B  2.0  3.0  5.0   7.0  11.0  14563.0

In [75]:
dft.groupby([dft.index.get_level_values(0), 4]).sum()

          0    1    2     3        5
a 4
A 11.0  2.0  3.0  5.0   7.0      NaN
  14.0  2.0  5.0  5.0   7.0     13.0
  71.0  2.0  3.0  5.0   7.0     45.0
B 11.0  2.0  3.0  5.0   7.0  14563.0
  61.0  2.0  3.0  5.0  67.0  15463.0

In [81]:
d = pd.DataFrame(np.array([[0, 0, 1, 1, 2, 2, 2],
                           [3, 4, 5, 6, 7, 8, 9],
                           [1.25, 10.1, 2.3, 2.4, 1.2, 5.5, 5.7]]).T,
                          columns=['a', 'b', 'c'])
d

     a    b      c
0  0.0  3.0   1.25
1  0.0  4.0  10.10
2  1.0  5.0   2.30
3  1.0  6.0   2.40
4  2.0  7.0   1.20
5  2.0  8.0   5.50
6  2.0  9.0   5.70

In [85]:
def func(group):
    res = [False] * len(group)
    if group.iloc[0] < group.iloc[1] * .5:
        res[0] = True
        return res
   
#d['res'] = d.groupby('a')['b'].transform(func).astype('bool')
d.groupby(['a','b'])['c'].sum()

a    b
0.0  3.0     1.25
     4.0    10.10
1.0  5.0     2.30
     6.0     2.40
2.0  7.0     1.20
     8.0     5.50
     9.0     5.70
Name: c, dtype: float64

In [2]:
import pandas as pd
import numpy as np

arrays = [['a', 'a', 'b', 'b', 'c', 'c'],
          ['1', '2', '3', '4', 'c2', 'c4']]


area_dict = {'A-A': [2, 3, 5, 7, 11, None], 
             'A-B': [2, 5, 5, 7, 14, 13], 
             'A-C': [2, 3, 5, 7, 71, 45],
             'B-A': [2, 3, 5, 67, 61, 15463], 
             'B-B': [2, 3, 5, 7, 11, 14563]}

df = pd.DataFrame(area_dict)
df

    A-A  A-B  A-C    B-A    B-B
0   2.0    2    2      2      2
1   3.0    5    3      3      3
2   5.0    5    5      5      5
3   7.0    7    7     67      7
4  11.0   14   71     61     11
5   NaN   13   45  15463  14563

In [3]:
df.loc[6] = df.loc[0] - df.loc[1]
df

    A-A   A-B   A-C      B-A      B-B
0   2.0   2.0   2.0      2.0      2.0
1   3.0   5.0   3.0      3.0      3.0
2   5.0   5.0   5.0      5.0      5.0
3   7.0   7.0   7.0     67.0      7.0
4  11.0  14.0  71.0     61.0     11.0
5   NaN  13.0  45.0  15463.0  14563.0
6  -1.0  -3.0  -1.0     -1.0     -1.0

In [5]:
df_ = pd.DataFrame(columns=df.columns)
df_.loc[0] = df.loc[0] - df.loc[1]
df_

   A-A  A-B  A-C  B-A  B-B
0 -1.0 -3.0 -1.0 -1.0 -1.0

In [17]:
t = df.loc[0] - df.loc[1]

df.loc[7] = t
df

    A-A   A-B   A-C      B-A      B-B
0   2.0   2.0   2.0      2.0      2.0
1   3.0   5.0   3.0      3.0      3.0
2   5.0   5.0   5.0      5.0      5.0
3   7.0   7.0   7.0     67.0      7.0
4  11.0  14.0  71.0     61.0     11.0
5   NaN  13.0  45.0  15463.0  14563.0
6  -1.0  -3.0  -1.0     -1.0     -1.0
7  -1.0  -3.0  -1.0     -1.0     -1.0

In [3]:
df['bb'] = df['B-A'] - df['B-B']
df

    A-A  A-B  A-C    B-A    B-B   bb
0   2.0    2    2      2      2    0
1   3.0    5    3      3      3    0
2   5.0    5    5      5      5    0
3   7.0    7    7     67      7   60
4  11.0   14   71     61     11   50
5   NaN   13   45  15463  14563  900

In [4]:
type(df['A-A'])

pandas.core.series.Series

In [ ]:
df['bb'] = df['B-A'] - df['B-B']

In [5]:
df['A-F'] = df['A-A']

In [9]:
dfs = df['A-A']
dfs

0     2.0
1     3.0
2     5.0
3     7.0
4    11.0
5     NaN
Name: A-A, dtype: float64

In [10]:
dfs = df['A-A'].dropna()
dfs

0     2.0
1     3.0
2     5.0
3     7.0
4    11.0
Name: A-A, dtype: float64

In [11]:
rdf = dfs.to_frame()

    A-A
0   2.0
1   3.0
2   5.0
3   7.0
4  11.0

In [12]:
dfs1 = df['A-B']
rdf[dfs1.name] = dfs1

In [13]:
rdf

    A-A  A-B
0   2.0    2
1   3.0    5
2   5.0    5
3   7.0    7
4  11.0   14

In [14]:
print(dfs1.values.tolist())

[2, 5, 5, 7, 14, 13]

In [15]:
print(dfs1.index.tolist())

[0, 1, 2, 3, 4, 5]

In [9]:
a1 = (['a', 'a', 'b', 'b', 'c', 'c'])
a2 = (['1', '2', '3', '4', 'c2', 'c4'])
b1 = a1 - a2
b1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [10]:
[a,b] = ['python', 'life']
a

'python'

In [11]:
c=d='a'

In [12]:
c

'a'

In [13]:
d

'a'

In [2]:
from datetime import timedelta, date
d = date.today()
td = timedelta(days=36)
tt = d - td
tt

datetime.date(2017, 12, 19)

In [13]:
def deco(func):
    def inner():
        print("running inner()")
        return func()
    return inner

@deco
def target():
    print("running target()")

In [14]:
target()

running inner()

In [15]:
target